body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
}

h1 {
    font-size: 30px;
    margin: 10px;
    padding: 0;
    color: #1565c0;
}

.container {
    height: 100%;
}

#toolbar {
    margin: 10px;
    padding: 5px;
    width: 500px;
}

#toolbar * {
    margin-bottom: 6px;
}

#toolbar label {
    font-size: 12px;
}

#toolbar input {
    width: 100%;
}

#toolbar button {
    height: 40px;
    width: auto;
    font-size: 20px;
    background-color: #1565c0;
    border: none;
    border-radius: 4px;
    color:white;
    padding: 10px;
}

.drawing-board {
    margin: 10px;
    height: 200px;
    width: 200px;

    border: #000 solid 1px;

}

.func_bar {
    font-size: 16px;
    margin: 10px;
    color: #000;
}

.func_bar span {
    background-color: #a1c6f0;
    padding: 5px;
    border-radius: 4px;
    font-weight: bold;
}